<ngb-carousel *ngIf="images" >
  <ng-template ngbSlide>
    <img src="https://content3.jdmagicbox.com/comp/chennai/63/044p6000363/catalogue/peter-england-t-nagar-chennai-gents-readymade-garment-retailers-peter-england-bf75l.jpg" alt="Random 1 slide" class = "change">
    <div class="carousel-caption">
      <h3 class="pull-left" style ="color :black ;font-weight : bold;">PETER ENGLAND</h3>
      
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="https://farm1.staticflickr.com/119/303338246_92f500e385.jpg" alt="Random second slide" class = "change">
    <div class="carousel-caption">
      <h3>NIKEY HEELS</h3>
      <p>UPTO TRENDS HIGH HEELS </p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="https://seasonsway.com/media/catalog/category/1_4_2_4_1.jpg"  alt="Random third slide" class = "change">
    <div class="carousel-caption">
      <h3 class="pull-right" style ="color :black ; font-weight : bold">RAYMONDS PRODUCTION</h3>
      <p>RUNNING SHOES</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="http://freshwallpapers.net/download/4144/1920x1080/download/puma-evospeed-marco-reus-football-boots.jpg" alt="Random fourth slide" class = "change">
    <div class="carousel-caption">
      <h3 style ="font-family: 'Caveat', cursive;">PUMA ALWAYS REQUIRED</h3>
      <p style = "font-weight: bold ; color : yellow;">SALE START AT 10am</p>
    </div>
  </ng-template>
</ngb-carousel>

